<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Clojure benchmark</title>
</head>
<body>
<center>
	<h1>
		Clojure benchmark for several web development tools
	</h1>
	<hr/>
	<h3>
		This one is for the templating system
	</h3>
	<hr/>
	<h4>
		Test the first variable {{template}}
	</h4>
	<ul>
		{% for number in numbers %}
		<li>
			Number {{number.number}} is prime? {{number.status}}
		</li>
		{% endfor %}
	</ul>
	<footer>
		<hr/>
		<p>Copyright PT Zenius Education</p>
	</footer>
</center>
</body>
</html>